.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: rgba(2, 2, 2, 0.3);
  color: var(--text-color);
  font-size: 1rem;
}

.submit-button {
  padding: 0.8rem 1rem;
  border: none;
  background-color: rgba(28, 176, 245, 0.637);
  color: var(--primary-text);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error-message {
  color: #dc3545;
  font-size: 0.85rem;
}